.review {
  &__title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;

    @include mobile {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__item {
    padding: 14px;
    border-radius: 8px;
    background-color: $color-secondary;
    display: grid;
    grid-template-areas: "subtitle stars" "text text";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    justify-content: space-between;
    gap: 8px;
    min-height: 95px;
  }

  &__subtitle {
    grid-area: subtitle;
    font-weight: 400;
    font-size: 16px;

    @include mobile {
      font-size: 14px;
    }
  }

  &__stars {
    grid-area: stars;
  }

  &__text {
    grid-area: text;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    // разобраться со свойствами
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; //на второй строке добавть точки
    -webkit-box-orient: vertical; // отсчет по вертикали
    height: calc(19px * 2);

    @include mobile {
      font-size: 14px;
    }

    &_open {
      display: block;
      height: unset;
    }
  }

  &__open {
    position: relative;
    justify-self: start;
    font-size: 14px;

    &_list {
      display: block;
      margin-left: auto;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-primary;
      bottom: 2px;
    }
  }
}
