.header {
  padding: 25px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 112px;
    width: 100%;
    margin-right: 88px;
  }

  &__search {
    margin-right: auto;
  }

  &__auth {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__auth-btn {
    display: flex;
    align-items: center;
    gap: 4px;

    transition: color $transition;

    &:hover {
      color: $color-gold-dark;
    }

    &:active {
      color: $color-gold-light;
    }

    &_sign-in {
    }

    &_sign-up {
    }
  }
}
