.avatar {
  &__label {
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    transition: color $transition;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:hover {
      color: $color-main-dark;

      .avatar__input-text {
        background-color: $color-main-light;
        color: $color-primary;
      }
    }
    @include mobile {
      flex-direction: column;
      align-items: start;
      gap: 16px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;

    @include mobile {
      font-size: 14px;
    }
  }

  &__imput-wrapper {
    position: relative;
  }

  &__input {
    position: absolute;
    transform: scale(0);

    &:focus + .avatar__input-text {
      background-color: $color-main-light;
      border-color: $color-main-dark;
    }
  }

  &__input-text {
    display: inline-block;
    border: 1px solid $color-main;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color $transition, border-color $transition;

    @include mobile {
      font-size: 14px;
    }
  }

  &__result {
  }
}
