.category {
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
  }

  &__list {
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    font-weight: 300;
    padding-left: 30px;
    background-position: left;
    background-size: 18px;
    background-repeat: no-repeat;
    text-align: left;

    &_photographer {
      background-image: url("../../img/photographer.svg");
    }

    &_makeup {
      background-image: url("../../img/makeup.svg");
    }

    &_masseur {
      background-image: url("../../img/masseur.svg");
    }

    &_handymen {
      background-image: url("../../img/handymen.svg");
    }

    &_cosmetolog {
      background-image: url("../../img/cosmetolog.svg");
    }

    &_electrician {
      background-image: url("../../img/electrician.svg");
    }

    &_manecurist {
      background-image: url("../../img/manecurist.svg");
    }

    &_plumber {
      background-image: url("../../img/plumber.svg");
    }
  }
}
