$color-primary: #000000;
$color-secondary: #ffffff;
$color-main: #12df00;
$color-main-light: #daffd7;
$color-main-dark: #096601;

$color-background: #f2f5fc;

$color-gold-light: #ffd600;
$color-gold: #e5c207;
$color-gold-dark: #a98f04;

$color-grey: #e2e2e2;
$color-grey-light: #eee;
$color-grey-dark: #7b7b7b;

$color-svg: #4163bb;

$transition: 0.3s ease-in-out;

$desktop: 1600px;
$laptop: 1200px;
$tablet: 1000px;
$mobile: 540px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
